{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	{% block nav %}{% endblock %}
	<div class="container-form">
		<h1 class="h3 mb-3 font-weight-normal">Inscription or
			<a href="{{path("app_login")}}">login</a>
		</h1>

		{% for error in app.flashes('error') %}
			{{ error }}
		{% endfor %}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.Pseudo) }}
		{{ form_row(registrationForm.Email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button class="btn btn-lg btn-primary my-3" type="submit">
			Register
		</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
