{% extends 'index/index.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}


{% block dashoborad %}
	<h4 class="item-display">
		Category :
		<a href="{{path("category_show", {"id": category.id})}}">{{ category.Name }}</a>
		<a class="delete" href="/">x</a>
	</h4>
	<h4 class="item-display">
		Board :
	</h4>
	<h4 class="item-display">
		Subject :
	</h4>

{% endblock %}


{% block data %}
	<a href="{{path("app_form_board", {"categoryId": category.id})}}">
		<button class="float-end btn btn-success">Add Board</button>
	</a>
	<h3 class="mb-4">Select Board</h3>

	<table class="table table-striped mt-5">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name Board</th>
				<th scope="col">Number of Subject</th>
				<th scope="col">Created By</th>

			</tr>
		</thead>
		<tbody>
			{% for board in boards %}

				<tr link="{{path("app_board", {"id": 1})}}" class="select-cat">
					<th scope="row">{{1}}</th>
					<td>{{ board.Name }}</td>
					<td>24</td>
					<td>Florian</td>
				</tr>

			{% endfor %}

		</tbody>
	</table>
{% endblock %}
